{% extends "base.html" %}

{% block title %} {{ block.super }}My Feed {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-3 col-xl-2 text-center left-sidebar">
      <!-- Left sidebar -->
      <img style="width: 200px; height: 200px;" src="/static/site/img/user.svg" class="rounded mx-auto d-block mt-4" alt="profile picture">
      <h1 class="display-4">{{ user.username }}</h1>
      <p class="lead">{{ user.profile.bio|default_if_none:" "|truncatechars:50 }}</p>
    </div>
    <div class="d-none d-xl-block col-xl-2 right-sidebar order-last">
      <!-- Right sidebar -->
      <p><small>Sponsored Content</small></p>
      <div style="height: 300px; background: #fff">
      </div>
    </div>
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 feed-content">
      <!-- Middle feed -->
      <h2>{{ title }}</h2>
      {% for item in feed %}
        <div class="media mb-4" style="border: 1px solid #e4e4e4;padding: 8px;border-radius: 4px;">
          <img class="mr-3" style="width: 64px; height: 64px;" src="/static/site/img/user.svg"  alt="Profile pic">
          <div class="media-body">
            <h5 class="mt-0"><a href="{% url 'show_user' slug=item.posted_by %}">{{ item.posted_by }}</a></h5>
            {{ item.message|safe|escape }}
            <div class="post-meta mt-4">
              <p>{{ item.like_set.count }} Like{{ item.like_set.count|pluralize }} | Posted on: {{ item.modified}}</p>
            </div>
            {% for comment in item.comment_set.all %}
              <div class="media mt-3">
                <a class="pr-3" href="#">
                  <img style="width: 32px; height: 32px;" src="/static/site/img/user.svg"  alt="Profile pic">
                </a>
                <div class="media-body">
                  <b class="mt-0"><a href="{% url 'show_user' slug=comment.posted_by %}">{{ comment.posted_by }}</a></b>
                  <small>{{ comment.message|safe|escape }}</small>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
